<!doctype html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bs/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i&amp;subset=latin-ext" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</head>

<body class="pt-6">
  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col title__block">
          <h1 class="title text-center">Microservice</h1>
          <h5 class="title text-center">Converting text into semantic vectors</h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2 class="doc doc__section mt-4">REST API</h2>

          <p class="information">
            All URLs referenced in the REST API section have the following base:
          </p>

          <div class="doc url_baseline p-4 mb-3">
            <p class="information">
              <b class="doc">http://{{ result.host }}:{{ result.port }}/api/v1</b>
            </p>
          </div>

          <h3 class="doc doc__section mt-5">
            Text Embedding REST API
          </h3>
          <p class="information">
            The Text Embedding REST API allows the user to retrieve the text embeddings of a given text.
          </p>

          <h6 class="mt-2">
            Available methods
          </h6>

          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th class="doc doc__method request">
                  </th><th class="doc doc__method route">
                  </th><th class="doc doc__method description">
                </th></tr>
              </thead>
              <tbody>
                <tr class="clickable-row" data-href="#get-create-text-embedding">
                  <td><b class="doc">GET</b></td>
                  <td>/embeddings/create</td>
                  <td>Create the text embedding</td>
                </tr>
                <tr class="clickable-row" data-href="#post-create-text-embedding">
                    <td><b class="doc">POST</b></td>
                    <td>/embeddings/create</td>
                    <td>Create the text embedding (similar to the GET request)</td>
                  </tr>
              </tbody>
            </table>
          </div>

          <a class="anchor" id="get-create-text-embedding"></a>
          <h5 class="doc doc__subsection mt-5 mb-3">
              Create the text embedding
          </h5>

          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="doc doc__method request">
                  </th><th class="doc doc__method route">
                </th></tr>
              </thead>
              <tbody>
                <tr>
                  <td><b class="doc">GET</b></td>
                  <td><b>/embeddings/create</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>Route information</p>
          <h6 class="mt-2">Query string parameters</h6>
          <div class="table-responsive">
            <table class="table table-dashed-borders">
              <thead>
                <tr>
                  <th class="doc doc__query name"></th>
                  <th class="doc doc__query type"></th>
                  <th class="doc doc__query title"></th>
                  <th class="doc doc__query optional"></th>
                  <th class="doc doc__query description"></th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><b class="doc">text</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Query Text
                  </td>
                  <td>
                    <span class="doc doc--small">Optional:</span> false
                  </td>
                  <td>
                    The text for which we wish to retrieve the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">language</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Text Language
                  </td>
                  <td>
                    <span class="doc doc--small">Optional:</span> true
                  </td>
                  <td>
                    The language of the provided text.
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <h6 class="mt-2">Response body attributes</h6>
          <div class="table-responsive">
            <table class="table table-dashed-borders">
              <thead>
                <tr>
                  <th class="doc doc__query name"></th>
                  <th class="doc doc__query type"></th>
                  <th class="doc doc__query title"></th>
                  <th class="doc doc__query optional"></th>
                  <th class="doc doc__query description"></th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><b class="doc">language_model</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Language Model
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    The language model used to create the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">tokens</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Tokens
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    An array of objects, each representing a non-stopword token of the provided text.
                  </td>
                </tr>

                <tr class="no-top-border">
                  <td colspan="5">

                    <b class="doc">tokens item properties</b>

                    <table class="table table-dashed-borders table--second-level">
                      <thead>
                        <tr>
                          <th class="doc doc__query name"></th>
                          <th class="doc doc__query type"></th>
                          <th class="doc doc__query title"></th>
                          <th class="doc doc__query optional"></th>
                          <th class="doc doc__query description"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><b class="doc">token</b></td>
                          <td>
                            <span class="doc doc--small">Type:</span> String
                          </td>
                          <td>
                            <span class="doc doc--small">Title:</span> Token Name
                          </td>
                          <td>
                            <span class="doc doc--small">Read only:</span> true
                          </td>
                          <td>
                            The non-stopword token name.
                          </td>
                        </tr>

                        <tr>
                          <td><b class="doc">count</b></td>
                          <td>
                            <span class="doc doc--small">Type:</span> Integer
                          </td>
                          <td>
                            <span class="doc doc--small">Title:</span> Token Count
                          </td>
                          <td>
                            <span class="doc doc--small">Read only:</span> true
                          </td>
                          <td>
                              The frequency of the token in the original text.
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

                <tr>
                  <td><b class="doc">embedding</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Text Embedding
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    An array of floats representing the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">text</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Source Text
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    The original source text.
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <a class="anchor" id="post-create-text-embedding"></a>
          <h5 class="doc doc__subsection mt-5 mb-3">
              Create the text embedding
          </h5>

          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="doc doc__method request">
                  </th><th class="doc doc__method route">
                </th></tr>
              </thead>
              <tbody>
                <tr>
                  <td><b class="doc">POST</b></td>
                  <td><b>/embeddings/create</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>Route information</p>
          <h6 class="mt-2">Query string parameters</h6>
          <div class="table-responsive">
            <table class="table table-dashed-borders">
              <thead>
                <tr>
                  <th class="doc doc__query name"></th>
                  <th class="doc doc__query type"></th>
                  <th class="doc doc__query title"></th>
                  <th class="doc doc__query optional"></th>
                  <th class="doc doc__query description"></th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><b class="doc">text</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Query Text
                  </td>
                  <td>
                    <span class="doc doc--small">Optional:</span> false
                  </td>
                  <td>
                    The text for which we wish to retrieve the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">language</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Text Language
                  </td>
                  <td>
                    <span class="doc doc--small">Optional:</span> true
                  </td>
                  <td>
                    The language of the provided text.
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <h6 class="mt-2">Response body attributes</h6>
          <div class="table-responsive">
            <table class="table table-dashed-borders">
              <thead>
                <tr>
                  <th class="doc doc__query name"></th>
                  <th class="doc doc__query type"></th>
                  <th class="doc doc__query title"></th>
                  <th class="doc doc__query optional"></th>
                  <th class="doc doc__query description"></th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td><b class="doc">language_model</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> String
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Language Model
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    The language model used to create the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">tokens</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Tokens
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    An array of objects, each representing a non-stopword token of the provided text.
                  </td>
                </tr>

                <tr class="no-top-border">
                  <td colspan="5">

                    <b class="doc">tokens object properties</b>

                    <table class="table table-dashed-borders table--second-level">
                      <thead>
                        <tr>
                          <th class="doc doc__query name"></th>
                          <th class="doc doc__query type"></th>
                          <th class="doc doc__query title"></th>
                          <th class="doc doc__query optional"></th>
                          <th class="doc doc__query description"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><b class="doc">token</b></td>
                          <td>
                            <span class="doc doc--small">Type:</span> String
                          </td>
                          <td>
                            <span class="doc doc--small">Title:</span> Token Name
                          </td>
                          <td>
                            <span class="doc doc--small">Read only:</span> true
                          </td>
                          <td>
                            The non-stopword token name.
                          </td>
                        </tr>

                        <tr>
                          <td><b class="doc">count</b></td>
                          <td>
                            <span class="doc doc--small">Type:</span> Integer
                          </td>
                          <td>
                            <span class="doc doc--small">Title:</span> Token Count
                          </td>
                          <td>
                            <span class="doc doc--small">Read only:</span> true
                          </td>
                          <td>
                              The frequency of the token in the original text.
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

                <tr>
                  <td><b class="doc">embedding</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Text Embedding
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    An array of floats representing the text embedding.
                  </td>
                </tr>

                <tr>
                  <td><b class="doc">text</b></td>
                  <td>
                    <span class="doc doc--small">Type:</span> Array
                  </td>
                  <td>
                    <span class="doc doc--small">Title:</span> Source Text
                  </td>
                  <td>
                    <span class="doc doc--small">Read only:</span> true
                  </td>
                  <td>
                    The original source text.
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>


      </div>
    </div>

  </main>


  <footer class="container">
    <div class="row">
      <div class="col">

        <div class="container content">
          <div class="row">
            <div class="col text-center">
              <span class="copyright">© AILab</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>

</body>

</html>